.emojiForm{
    .emoji-box{display: inline-block;width: 30px;height: 30px;border: 1px solid #fff;margin-left: 4px;cursor: pointer;
        img{width: 100%;}
    }
    .emoji-box:hover{border: 1px solid #e7e7e7;}
}