/**
 * 组件样式
 **/
.el-select-dropdown__item.selected.hover ,.el-select-dropdown__item.selected{
  background-color: #f5f7fa;
}
.check-repetition-popover{
  .el-table__body-wrapper {
    overflow: auto;
    max-height: 200px;
  }
}
.components{
  display: inline-block;
  .component-item{
    display: flex;
    position: relative;
    line-height: 42px;
    padding: 0 0 24px 0;
    >label{
      flex: 0 0 110px;
      color: #797979;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
      .required-box{
        display: inline-block;
        width: 10px;
      }
    }
    >.el-input,.el-date-picker{
      flex: 1;
      color: #424242;
      height:40px;
      input{
        color: inherit;
        background: transparent;
      }
    }
    >.el-textarea{
      color: #424242;
      textarea{
        color: inherit;
        background: transparent;
      }
    }
    >.el-select{
      flex: 1;
      padding: 0 30px 0 0;
      input{
        color: inherit;
        background: transparent;
      }
    }
    >.people-box{
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      padding: 5px 30px 0 0;
      .people-add{
        width: 30px;
        height: 32px;
        >.iconfont{
          line-height: 32px;
          font-size: 30px;
          color: #ACB8C5;
          cursor: pointer;
        }
      }
      .people-item{
        position: relative;
        margin: 0 10px 10px 0;
        &:hover{
          >i.el-icon-circle-close{
            visibility: visible;
          }  
        }
        >i.el-icon-circle-close{
          position: absolute;
          visibility: hidden;
          right: -10px;
          top: -5px;
          font-size: 12px;
          color: #F94C4A;
          cursor: pointer;
        }
      }
    }
    >.attachment-box{
      flex: 1;
      padding: 0 30px 0 0;
      .upload-button{
        label{
          display: inline-block;
          width: 102px;
          height: 32px;
          line-height: 32px;
          border: 1px solid #D9D9D9;
          border-radius: 4px;
          font-size: 14px;
          color: #797979;
          cursor: pointer;
          input{
            display: none;
          }
        }
        i{
          font-size: 16px;
          vertical-align: top;
          margin: 0 0 0 12px;
        }
      }
      .attachment-list{
        .attachment-box{
          position: relative;
          >.el-icon-circle-close{
            position: absolute;
            left: 25px;
            top: 0px;
            font-size: 12px;
            color: #F94C4A;
            cursor: pointer;
          }
        }
      }
      .picture-list-border{
        border: 1px dotted #D9D9D9;
      }
      .picture-list{
        display: flex;
        flex-wrap: wrap;
        padding: 12px 0 0 10px;
        .item{
          position: relative;
          width: 80px;
          height: 80px;
          margin: 0 15px 12px 0;
          img{
            width: 100%;
            max-height: 100%;
          }
          >.el-icon-circle-close{
            position: absolute;
            left: 75px;
            top: -5px;
            font-size: 12px;
            color: #F94C4A;
            cursor: pointer;
          }
        }
      }
    }
    >.el-checkbox-group{
      flex: 1;
      .el-checkbox {
        margin: 0 14px 0 0;
      }
    }
    >.el-radio-group{
      flex: 1;
      margin: 12px 0 0 0;
      .el-radio {
        margin: 0 14px 25px 0;
      }
    }
    >.select-group{
      display: flex;
      padding: 0 20px 0 0;
      .el-select{
        flex: 1;
        width: auto;
        margin: 0 10px 0 0;
        input{
          color: inherit;
          background: transparent;
          height: 35px;
          line-height: 35px;
        }
      }
    }
    >.location-input{
      input{
        padding: 0 30px 0 15px;
      }
    }
    >.subform-box.height-double{
      >.list{
        .item{
          height: 82px;
        }
      }
    }
    >.subform-box{
      flex: 1;
      margin: 0 30px 0 0;
      overflow-x: auto;
      border: 1px solid #D9D9D9;
      >.title{
        display: flex;
        min-height: 34px;
        line-height: 34px;
        >.item{
          display: flex;
          min-width: 140px;
          padding: 0 8px;
          background: #F5F5F5;
          border-right: 1px solid #D9D9D9;
          &:last-child{
            border-right-color: transparent;
          }
          &:hover{
            .repeat-icon{
              visibility: visible;
            }
          }
          span {
            flex: 1;
            font-size: 13px;
            color: #17171A;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
          }
          .repeat-icon{
            visibility: hidden;
            flex: 0 0 18px;
            .iconfont {
              font-size: 18px;
              color: #B3B4BA;
              cursor: pointer;
            }
          }
        }
      }
      >.list{
        display: flex;
        line-height: 40px;
        padding: 0;
        .item.border-line{
          min-width: 250px;
          border: 1px solid #51D0B1
        }
        .item{
          position: relative;
          border-top: 1px solid #D9D9D9;
          border-left: 1px solid #D9D9D9;
          display: block;
          min-width: 140px;
          height: 42px;
          overflow: auto;
          &:first-child{
            border-left: none;
            margin: 0 0 0 -1px;
          }
          .el-select{
            width: 100%;
          }
          .el-input ,.el-date-picker,.el-textarea{
            width: 100%;
            outline: none;
            input{
              outline: none;
              border-color: transparent;
              font-size: 14px;
              color: #4A4A4A;
              background: transparent;
            }
            textarea{
              height: 80px !important;
              outline: none;
              border-color: transparent;
              font-size: 14px;
              color: #4A4A4A;
              background: transparent;
            }
            .el-icon-date,.el-icon-circle-close{
              margin: -5px 0 0 0;
            }
            .el-input__suffix{
              right: 10px;
            }
          }
          .attachment-box{
            .upload-button{
              line-height: 40px;
              padding: 0 0 0 10px;
              label{
                cursor: pointer;
                input{
                  display: none;
                }
              }
              i{
                color: #797979;
                vertical-align: middle;
                margin: 0 5px 0 0;
              }
              span{
                color: #797979;
              }
            }
            .attachment-show{
              position: relative;
              padding: 0 0 0 10px;
              >i{
                position: absolute;
                left: 35px;
                top: 0;
                font-size: 12px;
                color: #F94C4A;
                cursor: pointer;
              }
            }
            .picture{
              position: relative;
              display: inline-block;
              padding: 0 0 0 10px;
              >img{
                width: 36px;
                height: 36px;
              }
              >i{
                position: absolute;
                right: -5px;
                top: 0;
                font-size: 12px;
                color: #F94C4A;
                cursor: pointer;
              }
            }
          }
          .people-box{
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            padding: 10px 0 0 10px;
            .people-add{
              width: 30px;
              height: 32px;
              >.iconfont{
                line-height: 32px;
                font-size: 30px;
                color: #ACB8C5;
                cursor: pointer;
              }
            }
            .people-item{
              position: relative;
              margin: 0 10px 10px 0;
              &:hover{
                >i.el-icon-circle-close{
                  visibility: visible;
                }  
              }
              >i.el-icon-circle-close{
                position: absolute;
                visibility: hidden;
                right: -10px;
                top: -5px;
                font-size: 12px;
                color: #F94C4A;
                cursor: pointer;
              }
            }
          }
          .location-box{
            position: relative;
            >.el-input{
              padding: 0 10px 0 0;
            }
            i{
              position: absolute;
              top: 0;
              right: 5px;
              font-size: 16px;
              color: #D8D8D8;
              cursor: pointer;
            }
          }
          .reference-box{
            position: relative;
            i{
              position: absolute;
              top: 0;
              right: 5px;
              font-size: 20px;
              color: #979797;;
              cursor: pointer;
            }
          }
          .button-icon{
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        .delete{
          position: absolute;
          right: -5px;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          margin: 15px 0 0 0;
          border-radius: 50%;
          background: #FFFFFF;
          cursor: pointer;
          box-shadow: -1px 1px 2px 0 rgba(155,155,155,0.30), 1px -1px 2px 0 rgba(155,155,155,0.20);
          i{
            font-size: 12px;
            color: #F94C4A;
          }
        }
      }
    }
    .icon-button{
      width: 20px;
      padding: 0 5px;
      box-sizing: content-box;
      >span{
        i{
          font-size: 18px;
          color: #B3B4BA;
          cursor: pointer;
          vertical-align: middle;
        }
      }
      .iconfont{
        font-size: 18px;
        color: #B3B4BA;
        cursor: pointer;
      }
    }
    .clear-content{
      position: absolute;
      visibility: hidden;
      right: 40px;
      top: 15px;
      color: #B3B4BA;
      cursor: pointer;
    }
    &:hover{
      >.clear-content{
         visibility: visible;
       }
     }
  }
  .component-item.top-bottom{
    display: block;
    >label{
      display: block;
      min-height: 30px;
      line-height: 30px;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }
    >.el-input{
      width: calc(100% - 30px);
    }
    >.el-textarea,>.el-select,>.people-box,>.attachment-box{
      width: calc(100% - 30px);
      padding: 0;
    }
    >.el-checkbox-group,>.el-radio-group{
      width: calc(100% - 30px);
    }
    >.select-group{
      width: calc(100% - 30px);
      padding: 0 ;
    }
    >.subform-box{
      width: calc(100% - 30px);
      .delete{
        right: 8px;
      }
    }
    .icon-button{
      float: right;
      width: 20px;
      line-height: 40px;
      padding: 0 5px;
      .iconfont{
        font-size: 18px;
        color: #B3B4BA;
        cursor: pointer;
      }
    }
    .clear-content{
      top: 45px;
    }
  }
  .component-item.input-error{
    .el-input{
      input{
        border-color:#f56c6c;
      }
    }
    .error-p{
      position: absolute;
      font-size: 12px;
      color: #f56c6c;
      line-height: 12px;
      bottom: 6px;
      left: 115px;
      >i{
        font-size: 12px;
      }
    }
  }
  .component-item.top-bottom.input-error{
    .error-p{
      left: 0;
    }
  }
}