<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<context:property-placeholder
		location="classpath:database.properties,classpath:config.properties" />

	<!-- 配置数据源，使用阿里巴巴的druid数据源(也可以使用c3p0或者dbcp，druid的性能更好点 ) -->
	<bean id="dataSource" name="dataSource"
		class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close">
		<!-- 配置数据库连接参数,druid会根据url自动识别dialect和driverClass无须配置 -->
		<property name="driverClassName" value="${databaseDriverClassName}" />
		<property name="url" value="${databaseUrl}" />
		<property name="username" value="${databaseUsername}" />
		<property name="password" value="${databasePasswd}" />
		<property name="initialSize" value="5" />
		<!-- 连接池中使用的最大连接数量，在druid中相当于maxPoolSize -->
		<property name="maxActive" value="30" />
		<!-- 获取连接的最大等待时间，单位毫秒 -->
		<property name="maxWait" value="60000" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="true" />
	</bean>

	<!-- 慢SQL记录 *start* -->
	<bean id="statfilter" class="com.alibaba.druid.filter.stat.StatFilter">
		<!-- 开启合并sql -->
		<property name="mergeSql" value="true" />
		<!-- 开启慢查询语句,1秒 -->
		<property name="slowSqlMillis" value="1000" />
		<property name="logSlowSql" value="true" />
	</bean>

	<bean id="logFilter" class="com.alibaba.druid.filter.logging.Log4jFilter">
		<!-- <property name="resultSetLogEnabled" value="false" /> -->
		<!-- <property name="statementExecutableSqlLogEnable" value="true" /> -->
	</bean>
	<!-- 慢SQL记录 *end* -->

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="daoutil" class="com.teamface.common.util.dao.DAOUtil">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<context:component-scan base-package="com.teamface.filelibrary.service" />
	<context:annotation-config />
	<tx:annotation-driven transaction-manager="transactionManager" />


	<bean id="mailSenderDao" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="host" value="smtp.163.com" />
		<property name="port" value="25" />
		<property name="protocol" value="smtp" />
		<property name="username" value="dd@163.com" />
		<property name="password" value="5448" />

		<property name="javaMailProperties">
			<props>
				<!-- 163邮箱中的fromAddress必须与username一样,因此在这里加了这个(mail.fromAddress)自己的属性,公司的邮箱可以随意设定:any@cnlaunch.com -->
				<prop key="mail.fromAddress"></prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">60000</prop>
				<prop key="mail.smtp.connectiontimeout">30000</prop>
				<!-- 起用这个ssl好象不成功 -->
				<!-- <prop key="mail.smtp.starttls.enable">true</prop> <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop> -->
			</props>
		</property>
	</bean>

	<bean id="threadPoolTaskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="30" />
	</bean>

	<!--AOP类日志 -->
	<bean id="logAspect" class="com.teamface.common.util.LogAspect"></bean>
	<aop:config>
		<aop:aspect id="aspect" ref="logAspect">
			<aop:pointcut id="logService"
				expression="(execution(* com.teamface.filelibrary.service..*.*(..)) )" />
			<aop:before pointcut-ref="logService" method="doBefore" />
			<aop:after pointcut-ref="logService" method="doAfter" />
			<aop:around pointcut-ref="logService" method="doAround" />
		</aop:aspect>
	</aop:config>

	<bean id="springContextUtil" class="com.teamface.common.util.SpringContextUtil"></bean>

	<import resource="duboo-config.xml" />
	<import resource="custom/filelibrary-provider.xml" />
	<import resource="custom/custom-consumer.xml" />
	<import resource="custom/email-consumer.xml" />
</beans> 